html, body {
    width: 100%;
    height: 100%;
	font-family: Arial, sans-serif;
}

body {
	min-height: 100%;
	display: grid;
	grid-gap: 2% 0;
	grid-template: 
		"header" auto
		"main" 1fr
		"footer" auto
		/ 100% 100% 100%;
}

header {
	grid-area: header;
	margin: 1%;
	margin-right: 1.3%;
	text-align: right;
}

header * {
	margin-right: 0.7%;
}

header a {
	font-size: 13px;
}

header a:link, header a:visited {
	color: hsla(0, 0%, 13%, 1);
	text-decoration: none;
}

header a:hover, header a:focus {
	color: hsla(0, 0%, 27%, 1);
	text-decoration: underline;
}

header img {
	width: 15px;
	height: 15px;
	opacity: 0.55;
	vertical-align: middle;
}

header img:hover {
	opacity: 1;
	cursor: pointer;
}

#sign-in-button {
	background-image: linear-gradient(to bottom, hsla(218, 98%, 63%, 1), hsla(218, 80%, 60%, 1));
	border: 1px solid hsla(217, 89%, 61%, 1);
	border-radius: 2px;
	color: hsla(0, 0%, 100%, 1);
	font-size: 13px;
	font-weight: 700;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
}

#sign-in-button:active {
	background-image: linear-gradient(to bottom,hsla(218, 76%, 56%, 1), hsla(218, 63%, 54%, 1));
}

main {
	grid-area: main;
	display: grid;
	grid-gap: 2% 0;
	grid-template: 
		"logo" auto
		"search" auto
		"language" 1fr
		/ auto auto auto;
	justify-content: center;
	text-align: center;
	align-content: start;
}

.logo {
	grid-area: logo;
	margin-top: 40%;
}

.search {
	grid-area: search;
}

.language {
	grid-area: language;
	align-self: start;
}

form#search-form {
	display: grid;
	grid-template:
		"search-area search-area" auto
		"google-button lucky-button" auto
		/ auto auto;
	justify-content: center;
	align-content: center;	
	grid-column-gap: 10%;
}

#search-area {
	grid-area: search-area;
	background-color: white;
	justify-self: center; 
	width: 200%;
	margin-bottom: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.16), 0 0 1px hsla(0, 0%, 0%, 0.08);
	border-radius: 4px;
	border: 1px solid transparent;
}

#search-area:hover {
	border: 1px solid hsla(0, 0%, 57%, 0.2);
	box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2), 0 0 1px hsla(0, 0%, 0%, 0.1);
}

#search-area:focus {
	border: 1px solid hsla(0, 0%, 57%, 0.2);
	box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.2), 0 0 1px hsla(0, 0%, 0%, 0.1);
}


#search-bar {
	height: 30px;
	width: 90%;
	border: none;
	vertical-align: middle;
}

#search-bar:focus {
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

#voice-search {
	height: 24px;
	width: 24px;
	vertical-align: middle;
}

.button {
	font-size: 13px;
	font-weight: 700;
	color: #757575;
	border: 1px solid transparent;
	background-color: white;
	padding-right: 16px;
	padding-left: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.button:hover {
	border: 1px solid hsla(0, 0%, 75%, 1);
	border-radius: 2px;
	color: hsla(0, 0%, 13%, 1);
}

.button:focus {
	border: 1px solid hsla(217, 99%, 65%, 1);
	border-radius: 2px;
}

.google-button {
	grid-area: google-button;
}

.lucky-button {
	grid-area: lucky-button;
}

.language p {
	font-size: 13px;
}

.language p a {
	cursor: pointer;
}

.language a:link, .language a:visited {
	color: hsla(245, 73%, 40%, 1);
	text-decoration: none;
}

.language a:hover, .language a:active {
	color: hsla(245, 73%, 40%, 1);
	text-decoration: underline;
}

footer {
	grid-area: footer;

	display: grid;
	grid-template: 
		"footer-country footer-country" auto
		"footer-left footer-right" auto
		/ auto auto;
}

footer div {
	border-top: 1px solid hsla(0, 0%, 89%, 1);
}

.footer-country {
	grid-area: footer-country;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-top: 0.6%;
	padding-bottom: 0.6%;
}

.footer-left {
	grid-area: footer-left;
	text-align: left;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
}

.footer-right {
	grid-area: footer-right;
	text-align: right;
	padding-right: 1.5%;
	padding-left: 3%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
}

footer div a, footer div p{
	color: hsla(213, 5%, 39%, 1);
	margin: 0;
}

footer div a {
	cursor: pointer;
}

footer div p.country{
	font-size: 15px;
}

footer div a.link{
	font-size: 13px;	
	margin-right: 2.5%;
}

footer a:link, footer a:visited {
	color: hsla(213, 5%, 39%, 1);
	text-decoration: none;
}

footer a:hover {
	color: hsla(213, 5%, 39%, 1);
	text-decoration: underline;
}

footer a:active {
	color: hsla(7, 71%, 55%, 1);
	text-decoration: underline;
}