html, body {
    width: 100%;
    height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-gap: 2% 0;
	grid-template: 
		"header" auto
		"main" 1fr
		"footer" auto
		/ 100% 100% 100%;
}

header {
	grid-area: header;
	margin: 2%;
	text-align: right;
}

main {
	grid-area: main;
	display: grid;
	grid-gap: 2% 0;
	grid-template: 
		"logo" auto
		"search" auto
		"language" 1fr
		/ auto auto auto;
	justify-content: center;
	text-align: center;
	align-content: start;
}

footer {
	grid-area: footer;
	margin: 2%;
}

.logo {
	grid-area: logo;
	margin-top: 40%;
}

.search {
	grid-area: search;
}

.language {
	grid-area: language;
	align-self: start;
}

form#search-form {
	display: grid;
	grid-template:
		"search-bar search-bar" auto
		"google-button lucky-button" auto
		/ auto auto;
	justify-content: center;
	align-content: center;	
}

#search-bar {
	grid-area: search-bar;
	justify-self: center; 
	width: 230%;
	margin-bottom: 15%;
}

.button{

}

.google-button {
	grid-area: google-button;
}

.lucky-button {
	grid-area: lucky-button;
}